.wrapper {
    display: flex;
}

#logOuter {
    width: 60%;
}

#participantsOuter {
    width: 30%;
}

.participants {
    flex: auto;
}

.privateMessage {
    background-color: plum;
}

.publicMessage {
    background-color: cyan;
}

.event {
    background-color: greenyellow;
}

.internal {
    background-color: beige;
}

.isModerator {
    color: darkmagenta;
}